extends layout

block content
  div.container.display
    if name
      h1 #{name}
    if address
      h3 #{address}
    if zip
      h3 #{zip}
    if city
      h3 #{city}
    if website
      h3 #{website}
    if phone
      h3 #{phone}
