extends layout

block content
  div.container.display
    if name
      h1 #{name}
    if address && city
      section
        h3 Location:
        p
          a(href="#{addressUrl}") #{address}, #{city} #{zip}

            
      hr
        
    if website
      section
        h3 Visit their website:
        p 
          a(href='#{website}') #{website}
    
      hr
    
    if phone
      section
        h3 Call for more information:
        p 
          a(href='tel://#{phone}') #{phone}
